<p>Authentication page</p>

<div class="flex-container">
    <div style="text-align: center">
      <button mat-button
              (click)="askForAuthentication()"
              class="auth-button">Authorize</button>
    </div>
</div>
